@{
    Layout = "_Layout";
    ViewData["Title"] = "Přihlášení";
}

<form action="/Uzivatel/Prihlasit" method="post">
    <input required type="text" name="jmeno" placeholder="Jméno..." /><br />
    <input required type="password" name="heslo" placeholder="Heslo..." /><br />
    <input type="submit" value="Přihlásit" />
</form>