@{
    Layout = "_Layout";
    ViewData["Title"] = "Registrace";
}

<form action="/Uzivatel/Registrovat" method="post">
    <input required type="text" name="jmeno" placeholder="Jméno..." /><br />
    <input required type="text" name="email" placeholder="Email..." /><br />
    <input required type="password" name="heslo" placeholder="Heslo..." /><br />
    <input required type="password" name="hesloKontrola" placeholder="Heslo pro kontrolu..." /><br />
    <input type="submit" value="Registrovat" />
</form>