html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.poznamka a, .dulezita-poznamka a, .poznamka-detail a, .dulezita-poznamka-detail a {
    color: white;
}

.poznamka, .dulezita-poznamka, .poznamka-detail, .dulezita-poznamka-detail {
    margin-top: 10px;
    padding: 10px;
    color: white;
}

.poznamka, .dulezita-poznamka {
    width: 33%
}

.poznamka, .poznamka-detail {
    background-color: #424242;
}

.dulezita-poznamka, .dulezita-poznamka-detail {
    background-color: #D0312D;
}

.poznamka-text {
    display: flex;
    flex-wrap: wrap;
}